body {
    margin: 60px auto;
    width: 50%;
}
nav ul, footer ul {
    font-family:'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: ;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #6699FF;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.1em;
    font-family:'Arial', 'Sans-Serif';
    color: #444444;
    font-weight: bold;
}
h2 {
    font-size: 1em;
    font-family:'Arial', 'Sans-Serif';
    color: #444444;
    font-weight: bold;
}
p {
    font-size: 0.9em;
    font-family:'Verdana', 'Arial';
    line-height: 1.1em;
    color: #555555;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
    line-height: 1.1em;
    font-family:'Verdana', 'Arial';
}

ul.posts li {
    list-style: none;
    font-family:'Verdana', 'Arial';
}
