a {
    text-decoration: none;
    color: #6699FF;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Arial', 'Sans-Serif';
    color: #444444;
}
h2 {
    font-family:'Arial', 'Sans-Serif';
    color: #444444;
}
p {
    font-family:'Verdana', 'Arial';
    color: #333333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 

    font-family:'Verdana', 'Arial';
}

ul.posts li {
    list-style: none;
    font-family:'Verdana', 'Arial';
}
